  div {
            border: 1px solid black;
        }

        #test1 {
            display: flex;
            width: 200px;
            height: 200px;
        }

        #test2 {
            width: 100px;
            height: 100px;
        }

        #test3 {
            width: 100px;
            height: 100px;
        }

        #test4 {
            width: 200px;
            height: 200px;
        }